.contact{
    text-align: center;
    color: rgb(58, 56, 56);
    background-color: rgba(111, 156, 177, 0.514);
    margin-top: 5px;
    padding: 10px;
}

body{
    font-family: 'Libre Baskerville', serif;
}

.mensaje{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.borde{
    border: blue 2px solid 
}

.borde-form{
    border-radius: 10px;
}

.margen{
    margin-bottom: 16px;
}

textarea{
    width: 380px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px;  
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }

input{
  width: 380px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px;  
}

label{
    display: block; 
    float: center;  
  }

  .input-news{
    width: 40px;
    height: 20px;
  }