.somos{
    margin-top: 8px;
    background-color: rgb(182, 182, 214);
    height: 96%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    .ubicacion{
        margin: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

.era{
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.historia{
    margin: 12px;
    display: flex;
    text-align: center;
    align-items: center;
}

.imagen1{
    object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        
}

@media(min-width: 960px){
    .somos{
        margin-top: 8px;
        background-color: rgba(182, 182, 214, 0.699);
        height: 96%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .imagen1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card{
    margin-left: 16px;
    border: blue 2px solid;
    border-radius: 20px;
    background-color: rgba(94, 94, 146, 0.329);
    .tarjeta__titulo{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        margin-top: 2px;
    }   
}

.fondocol{
    background-color: rgba(106, 147, 170, 0.534);
}

.card-text{
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: black;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 3px solid cornflowerblue;
  }

  .navbar-toggler-icon{
    display: flex;
    justify-content: space-aroundS;
  }

