body{
    font-family: 'Libre Baskerville', serif;
}

.titulo-productos{
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 5px;
    background-color: rgb(19, 19, 160);
}

.card{
    margin-left: 10px;
    margin-right: 10px;
    border: blue 2px solid;
    border-radius: 20px;
    background-color: rgba(94, 94, 146, 0.329);
    .tarjeta__titulo{
        text-align: center;
        font-size: 1rem;
        margin-top: 2px;
    }
    
}

body{
    font-family: 'Libre Baskerville', serif;
}