.servicio{
    background-color: rgba(106, 147, 170, 0.534);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

body{
    font-family: 'Libre Baskerville', serif;
}

.mapa{
    text-align: center;
}

img{
    object-fit: contain;
}