.boton-ofertas{
    border: blue 2px solid;
    border-radius: 10px;
    background-color: steelblue;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
    
    &:hover{
        background-color: white;
    }
}

.btn{
    border: blue 2px solid
}